.add-post-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.add-post-form-container input[type="file"] {
    margin-bottom: 10px;
}

.add-post-form-container textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing of textarea */
}

.add-post-form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-post-form-container button:hover {
    background-color: #0056b3;
}
